body{
  //background-image: url("../images/pay-4101949_1920.jpg");
  background-color: $mainColor;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}