
.main {
  background-color: $mainColor;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (min-width:1024px ){
    border-radius: 25px;
    height:90vh;
    margin:20px;
   justify-content: flex-start;
  }

  h1 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    margin: 10px 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.84);
  }

  .mainOptions {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width:1024px ){
      flex-direction: row;
    align-items: flex-start;
      margin: 30px 0;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    div {
      background-color: $secondColorOpacity;
      border-radius: 10px;
      color: $mainFontColor;
      padding: 10px 0px;
      margin: 10px 0px;
      font-size: 1rem;
      min-width: 300px;
      text-align: center;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.84);
      cursor: pointer;
      @media (min-width:1024px ){
        margin: 10px;
        font-size: 1.5rem;
      }
      .detailedOptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0px;
        margin: 5px 0;
        background-color: $secondColor;


        input {
          padding: 3px;
          margin: 5px 0;
          width: 200px;
          height: 2rem;
          text-align: center;
          font-weight: bold;
          color: $mainColor;
          font-size: $factsFontSizeForMobile;
        }

        input::placeholder {
          font-size: 0.8rem;
        }
      ;

        .okBtn {
          color: $mainFontColor;
          background-color: $mainColor;
          font-weight: bold;
          height: 2rem;
          display: inline-block;
          margin: 0 0 5px 5px;
          cursor: pointer;
        }

        .randomBtn {
          color: $mainFontColor;
          background-color: $mainColor;
          font-weight: bold;
          width: 200px;
          height: 2rem;
          margin: 5px 0;
          cursor: pointer;

        }

      }
    }
  }
  .numbersImage {
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin:15px auto;
    }

    .number1Image, .number2Image, .number3Image {
      @media (min-width: 1024px) {
        height: 150px;
        width: 150px;
        background-image: url("/src/images/counting-149959_640.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .number1Image {
      @media (min-width: 1024px) {
        background-image: url("/src/images/counting-149951_640.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .number2Image {
      @media (min-width: 1024px) {
        background-image: url("/src/images/counting-149952_640.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .number3Image {
      @media (min-width: 1024px) {
        background-image: url("/src/images/counting-149953_640.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

  }

  .fact {
    font-size: $factsFontSizeForMobile;
    color: $mainFontColor;
    padding: 25px;
    margin: 20px 0;
    text-align: justify;
    background-color: $secondColor;
    min-width: 320px;
    @media (min-width: 425px) {
      min-width: 425px;
    }
    @media (min-width: 768px) {
      min-width: 768px;
      text-align: center;
    }
    @media (min-width: 1024px) {
      border-radius: 25px;
      border: 2px solid $mainFontColor;
      min-height: 15vh;
      font-size: $factsFontSizeForDesktop;
      max-width: 800px;
    }
  }
}

