.quizQuestions{
  @media (min-width:1024px ){
    min-height:90vh;
    margin:20px;
    padding: 30px;
    background-color: $mainColor;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;

  margin: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: $quizBackground;
  @media (min-width:1024px ){
    min-width:800px;
  }

  h3{
    color: $mainFontColor;
    width:100%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    @media (min-width:1024px ){
      font-size: 1.3rem;
    }
  }
  p{
    background-color: $secondColor;
    color: $mainFontColor;
    max-width: 900px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    @media (min-width:1024px ){
      min-height: 100px;
      font-size: 1.2rem;
      margin: 10px;
      padding: 15px;
    }
  }
button{
  color: $mainFontColor;
  background-color: $mainColor;
  font-weight: bold;
  width: 200px;
  height: 2rem;
  margin: 20px 0;
  cursor: pointer;
  @media (min-width:1024px ){
    min-height: 2.5rem;
    font-size: 1rem;
  }
}
}
}
