
.quiz{
  @media (min-width: 1024px){
    background-color: $mainColor;
    padding: 30px;
    min-height: 90vh;
    border-radius: 25px;
  }


.quizHeader{
  background-color: $quizBackground;
  color: $mainFontColor;
  max-width: 1200px;
  margin: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,h2{
    margin: 10px;
    text-align: center;
  }
  button{
    color: $mainFontColor;
    background-color: $mainColor;
    font-weight: bold;
    width: 200px;
    height: 2rem;
    margin: 5px 0;
    cursor: pointer;
  }
}
.image{
  background-image: url("/src/images/pixel-cells-3699334_640.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:300px;
  height: 500px;
  margin: 30px auto;
}
}