$mainColor: rgb(232, 160, 171);
$mainColorOpacity: rgba(232, 160, 171, 0.9);
$secondColor: rgb(69, 209, 197);
$secondColorOpacity: rgba(69, 209, 197, 0.8);
$factsFontSizeForMobile: 1.2rem;
$mainFontColor: #FFFFFF;
$quizBackground: #2B2B2B;
$factsFontSizeForDesktop:1.5rem;
